body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.img-slider-container{
  margin: 0 auto;
  max-width: 1500px;
  overflow: hidden;

  .img-slider{
    position: relative;
    height: 280px;
    padding:0;
    li{
      max-width: 100%;
      float:left;
      list-style: none;

      img{
        max-width: 500px;
      }
    }
  }
}